*{
	font-family: 'Open Sans';
}

nav{
	position: sticky;
	top: 0px;
	height: 70px;
	background-color: white;


}



.nav-logo{
	display: inline-block;
	text-decoration: none;
	position: sticky;
	margin-left: 70px;
	margin-top: 10px;
	


}

.right-nav{
	text-align: inline-block;
	position: sticky;
	float: right;
	margin-right: 70px;
	margin-top: 10px;
	
}

.nav{
display: inline;
text-decoration: none;
margin: 20px;
font-weight: bold;


}

.tuitt-button{
	border: none;
	border-radius: 20px;
	background-color: #c2195b;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	color: white;
	font-weight: bold;

}

#bg-image{

	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-color: scroll;
	background-size: 100rem;
	background-position: center;
	min-height: 400px;
	color: white;


	
}

.front-bg{
	background-color: rgba(0,0,0,0.5);
	min-height: 450px;
}

.title{

	font-family: 'Zilla Slab'!important;;
	font-size: 50px;
	text-align: right;
	margin-right: 80px;
	margin-left: 48%;

}

.subtitle{
	margin-top: 5px;
	margin-right: 80px;
	margin-left: 60%;
	text-align: right;
	font-size: 25px;

}

.title-2{
	font-family: 'Zilla Slab' !important;
	font-weight: bold;
	font-size: 40px;
	margin-top: 30px;
	text-align: center;
	position: static;



}



.apply-button {
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 20px;
	background-color: #c2195b;
	color: white;
	border: none;
	font-weight: bold;
	margin-right: 80px;
	float: right;
}

.intro{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 45px;

}

.intro-description{
	margin-right: 16%;
	margin-left: 16%;
	text-align: justify;

}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	height: 40vh;
	
}

.prefooter-description{

	margin-right: 230px;
	margin-left: 230px;
}

.book-button{

	background-color: #336589;
	border-radius: 50px;
	border: none;
	font-weight: bolder;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px ;
	padding-left: 50px;
	padding-right: 50px;
}

footer{
	text-align: center;
	padding: 20px;
}

span{
	padding: 10px;
}